/* 3) დაწერეთ როგორ მუშაობს padding და margin, ჩამოთვალეთ CSS Box Model-ის ყველა შრე. ასევე CSS-ში დაწერეთ CSS reset-ის კოდი და ახსენით რისთვის ვიყენებთ */

/* Padding არის სივრცე ელემენტის შიგნით, რომელიც განყოფს ელემენტის შინაარსს მისი საზღვრებისგან. Margin არის სივრცე ელემენტის გარშემო, რომელიც განყოფს ელემენტს სხვა ელემენტებისგან.

CSS Box Model-ის ყველა შრე:

1. Content:
2. Padding:
3. Border: 
4. Margin: 

CSS reset-ის კოდი:*/ 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 
