/* 2) ახსენით რა არის pseudo კლასები და რისთვის ვიყენებთ. განმარტეთ თითოეული ფსეუდო-კლასი: hover, active, focus */

/*
Pseudo კლასები არის CSS-ის სპეციალური კლასები, რომლებიც საშუალებას გვაძლევენ ვიმოქმედოთ HTML ელემენტებზე მათი მდგომარეობის ან ინტერაქციის მიხედვით. 

/* hover: ეს ფსეუდო-კლასი გამოიყენება მაშინ, როდესაც მომხმარებელი მაუსის კურსორს ელემენტზე გადააქვს.*/
a:hover {
    color: red;
}

/* active: ეს ფსეუდო-კლასი გამოიყენება მაშინ, როდესაც ელემენტი აქტიურია, */
button:active { 
    background-color: blue;
}

/* focus: ეს ფსეუდო-კლასი გამოიყენება მაშინ, როდესაც ელემენტი ფოკუსირებულია, ანუ მომხმარებელმა მასზე გადატანა მოახდინა კლავიატურის ან მაუსის საშუალებით. */
input:focus {
    border-color: green;
}