/* 5) შექმენით ვებგვერდი, სადაც განთავსებულია 3 სურათი ერთ მწკრივში. თითოეულ სურათს მიეცით ჩარჩო და დაამატეთ transition. როცა მაუსს მიიტანთ სურათზე, ის ოდნავ გაიზარდოს transform: scale(1.1) და ოდნავ ზემოთ აიწიოს transform: translateY(-10px). გამოიყენეთ Flexbox ელემენტების გასასწორებლად */


.container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 50px; 
}

.image-box {
    border: 2px solid #ccc; 
    overflow: hidden; 
    transition: transform 0.3s ease; 
}
.image-box img {
    display: block; 
    width: 100%; 
    height: auto; 
}
.image-box:hover {
    transform: scale(1.1) translateY(-10px); 
}

