/* 4) შექმენით რეგისტრაციის ფორმა, სადაც იქნება 'სახელი', 'გვარი', 'ელფოსტა' და 'პაროლი' ველები. მიანიჭეთ ყველა input[type=text] და input[type=password] ელემენტს border-radius: 8px; border: 2px solid gray; ღილაკს მიანიჭეთ background-color: green; color: white; font-weight: bold; გამოიყენეთ button:hover რათა მაუსის გადატარებისას ფერი გახდეს darkgreen

input[type=text]
input[type=password]
border-radius
border
background-color
color
font-weight
button:hover */
.text-input, .password-input {
    border-radius: 8px;
    border: 2px solid gray;
    padding: 6px 10px;
    display: block;
    margin-bottom: 15px;
    width: 250px;

}

button {
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;

}

button:hover {
    background-color: darkgreen;
}
