/* 1) შექმენით 1 container დივი, რომელშიც შექმნით 5 .box კლასის მქონე div-ს, შემდეგ ეს .box კალსის მქონე დივები განალაგეთ flexbox-ად. შემდეგ მათ შორის აიღეთ 30px დაშორება, flex-ის მიმართულება უნდა იყოს row, ელემენტები ჰოროზონტალურად განალგეთ flex-end-ზე, ხოლო ვერტიკალურად განალაგეთ ცენტრში, ასევე ისინი თუ ვერ დაეტევიან კონკრერტულ რიგში, გაუწერეთ flex-wrap რომ შეძლონ შემდეგ რიგებზე გადასვლა. ასევე თუ მოწყობლიობის ზომა მცირეა და ელემენტები ვერ ეტევიან რიგზე, მაშინ მათი ზომა შემცირდეს 1-ით, ხოლო თუ შესაძებლია რომ გაიზარდონ ყველა div-ი გარდა პირველისა გაიზრდოს 1-ის კოეფციენტით ხოლო პირველი გაიზარდოს 2-ით */
.container {
    display: flex;


    border: 2px solid black;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 30px;
    
}

#box1{
    flex-shrink: 2;
}

.box {
    flex-wrap: wrap;
    color: aquamarine;
    flex-shrink: 1;
    flex-grow: 1;
    height: 200px;
    width: 200px;
    border: 2px solid gray;
}