/* 3) დაწერეთ მეორე პარაგრაფი 'id='p2'' და მიანიჭეთ მას ტექსტის თავზე ხაზგასმა 'text-decoration-line: overline' წყვეტილი სტილით 'text-decoration-style: dashed' და ლურჯი ფერით 'text-decoration-color: blue' */

#p2{
    text-decoration-line: overline;
    text-decoration-style: dashed;
    text-decoration-color:blue;


}