/* 2) შექმენით ცხრილი რომელსაც ექნება მინიმუმ 3 რიგი და სვეტი, ცხრილი გასტილეთ border კუთვნილების მეშვეობით, ასევე გასტილეთ ცხრილის მონაცემები (th, td) border-ის მეშვეობით, ცხრილის შუა სვეტი გასტილეთ სხვა ფერით (td:nth-child(2) საბოლლოდ ეს ცხრილი მეორედ დააკოპირეთ მეორე ცხრილს მიანიჭეთ border-collapse: collapse; დეკლარაცია. კომენატებით დაწერეთ border კუთვნილების ქვე კუთვნილებები */
table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px auto;
  border: 2px solid black; /* ცხრილის გარე ჩარჩო */
}

th, td {
  border: 1px solid black; /* უჯრების საზღვრები */
  padding: 12px;
  text-align: center;
  min-width: 70px; /* რომ უჯრა ცარიელი იყოს მაინც ზომა ჰქონდეს */
}
